<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
    <test name="headlessTest">
        <parameter name="browser" value="chromeHeadless"/>
        <packages>
            <package name="com.wmata.suite.chromeHeadless"/>
        </packages>
    </test>
    <test name="chromeTest">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.wmata.suite.chrome"/>
        </packages>
    </test>
    <test name="firefoxTest">
        <parameter name="browser" value="ff"/>
        <packages>
            <package name="com.wmata.suite.firefox"/>
        </packages>
    </test>
    <test name="ieTest">
        <parameter name="browser" value="ie"/>
        <packages>
            <package name="com.wmata.suite.ie"/>
        </packages>
    </test>
</suite>